[Service]
Environment=NO_PROXY="localhost,127.0.0.1"
{% if proxy_server is defined %}
Environment=HTTP_PROXY="http://{{ proxy_server }}:{{ proxy_port }}"
Environment=HTTPS_PROXY="http://{{ proxy_server }}:{{ proxy_port }}"
{% endif %}